body {
    font-family: Arial, Helvetica, sans-serif;
    background: hsl(210deg 30% 12%);
    padding: 0;
    margin: 0;
  }
  .parent {
    --padding: 4px;
    position: relative;
    padding: var(--padding);
    border: 1px solid hsl(210deg 10% 40%);
    border-radius: 8px;
    gap: 8px;
    height: 100vh;
    height: 100svh;
  }
  .parent::before {
    content: '';
    position: absolute;
    top: calc(5rem + 7px);
    left: 2px;
    right: 2px;
    border-bottom:
      2px dashed hsl(210deg 8% 50%);
  }
  .parent::after {
    content: '';
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: calc(
      25% +
      var(--padding) / 2 +
      1px
    );
    border-left:
      2px dashed hsl(210deg 8% 50%);
  }
  .child {
    display: grid;
    place-content: center;
    border:
      2px solid hsl(210deg 8% 50%);
    border-radius: 3px;
    background: hsl(210deg 15% 20%);
    color: white;
    font-size: 1.325rem;
    font-weight: bold;
  }

  #shaderCanvasContainer {
    overflow: hidden; /* Keeps any overflowing content from the shader within the bounds */
    grid-area: 1 / -1; /* Adjust this based on where you want the shader in the grid */
    display: flex; /* Ensures the canvas can size correctly within the container */
    justify-content: center; /* Center the canvas if it's smaller than the container */
    align-items: center; /* Align vertically */
}

#shaderCanvasContainer canvas {
    width: 100%; /* Fill the container width */
    height: 100%; /* Fill the container height */
    display: block; /* Block display to fill the container correctly */
}